@import "config";

input[type="number"] {
  @include font-weight(700);
  padding: 0.8rem;
  // border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
.radio_btn {
  cursor: pointer;
  border-radius: 4px;
}

label,
legend {
  @include font-weight();
  color: $slate-700;
  margin-bottom: 8px;
}

// container styles
.container {
  position: relative;
  @include flexCenter(row);
  margin-bottom: 20px;

  &__title {
    @include flexCenter(row, none, space-between);
    margin-bottom: 30px;

    h2 {
      @include font-weight(900);
      color: $slate-900;
    }

    p {
      text-align: center;
      @include flexCenter(row, end, none);
      text-decoration: underline;
      @include font-weight();
      color: $slate-700;
      cursor: pointer;
    }
  }

  // first input div
  &__first {
    flex-direction: column;
    margin-bottom: 8px;

    & .icon-container {
      position: relative;
    }

    & span {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;

      color: $slate-700;
      @include font-weight(900);
      font-size: 1.3rem;
      border-radius: 4px 0 0 4px;
      background-color: $slate-50;
      border: 1px solid $slate-100;
      border-right: none;
      padding: 0.8rem 1rem;
      transition: background-color 0.3s, color 0.3s;
    }

    & input {
      border: 1px solid $slate-100;
      @include font-weight(700);
      padding-left: 4rem;
      font-size: 1.2rem;
      width: 100%;

      &:focus {
        outline: none;
        border: 1px solid $lime;

        & + span {
          background-color: $lime;
          border-color: $lime;
          color: $slate-900;
        }
      }
    }
  }

  // second input div
  &__second {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 20px;

    &__div {
      @include flexCenter(column, none, center);

      &__input-container {
        position: relative;

        input {
          border: 1px solid $slate-100;
          width: 100%;
          @include font-weight(700);
          font-size: 1rem;

          &:focus {
            outline: none;
            border: 1px solid $lime;

            & + span {
              background-color: $lime;
              border-color: $lime;
              color: $slate-900;
            }
          }
        }

        span {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;

          color: $slate-700;
          @include font-weight(700);
          background-color: $slate-50;
          border-radius: 0 4px 4px 0;
          padding: 0.8rem 1rem;
          border: 1px solid $slate-100;
          border-left: none;
          transition: background-color 0.3s, color 0.3s;
        }
      }
    }
  }

  // third input div
  &__third {
    width: 100%;

    .error {
      margin-bottom: 20px;
    }
  }
}

// submit button
.btn-center {
  @include flexCenter(row, center, center);
  @include font-weight(900);
  font-size: 0.9rem;
  color: $slate-900;
  gap: 10px;
  background-color: $lime;
  padding: 14px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

// radio btn fieldset
fieldset {
  border: none;
  width: 100%;
}

// radio btn div
.radio_btn {
  border: 1px solid $slate-100;
  @include flexCenter(row, center, flex-start);
  gap: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 0.7rem;
  // font-weight: 700;
  @include font-weight(700);
  color: $slate-900;

  input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid $slate-700;
    border-radius: 100%;

    &::before {
      content: "";
      margin: auto 0;
      width: 80%;
      height: 80%;
      border-radius: 100%;
    }

    &:checked {
      border-color: $lime;

      &::before {
        content: "";
        background-color: $lime;
      }
    }
  }
}

// green color thingy
.green {
  background-color: rgba(215, 218, 47, 0.3);
  border-color: $lime;
}

// error styles
.error {
  margin-top: 10px;
  color: $red;
  font-size: 0.9rem;
}
