@media (max-width: 1000px) {
  main {
    grid-template-columns: 100%;
    width: 100vw;
    border-radius: 0;
  }

  .card {
    &--result {
      @include flexCenter(column, center, center);
      background-color: $slate-900;
      border-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .container {
    &__title {
      @include flexCenter(column, none, space-between);
    }

    &__second {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 20px;

      &__div {
        margin-top: 20px;
      }

      & .error-text {
        margin-bottom: 10px;
      }
    }

    &__last {
      justify-content: center;

      .btn-center {
        width: 100%;
      }
    }
  }

  footer {
    position: relative;
    // top: 100%;
    bottom: 1px;
    font-size: 1.5rem;
  }
}
