@import "config";
@import "calculator";
@import "results";

// for styles to the left container of the page go to _calculator.scss
// for styles to the right container of the page go to _results.scss
// for media query styles go to _media-query.scss
// for reset styles go to _config.scss

body {
  @include flexCenter(column, center, center);

  min-height: 100vh;
  background-color: $slate-300;
}

main {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: white;
  height: auto;
  width: 950px;
  border-radius: 15px;
}

.card {
  padding: 20px;

  &--calculator {
    padding-left: 30px;
    padding-top: 50px;
  }

  &--result {
    padding: 30px;
    padding-top: 50px;
    @include flexCenter(column, center, default);
    background-color: $slate-900;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 9vh;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  position: absolute;
  // top: 100%;
  bottom: 1px;
}

@import "media-query";
