@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.hide {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.hide {
  display: none;
}

input[type="number"] {
  font-weight: 700;
  padding: 0.8rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
.radio_btn {
  cursor: pointer;
  border-radius: 4px;
}

label,
legend {
  font-weight: 500;
  color: #4e6e7e;
  margin-bottom: 8px;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  margin-bottom: 20px;
}

.container__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.container__title h2 {
  font-weight: 900;
  color: #122f3f;
}

.container__title p {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  text-decoration: underline;
  font-weight: 500;
  color: #4e6e7e;
  cursor: pointer;
}

.container__first {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 8px;
}

.container__first .icon-container {
  position: relative;
}

.container__first span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  color: #4e6e7e;
  font-weight: 900;
  font-size: 1.3rem;
  border-radius: 4px 0 0 4px;
  background-color: #e6efea;
  border: 1px solid #9abed5;
  border-right: none;
  padding: 0.8rem 1rem;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.container__first input {
  border: 1px solid #9abed5;
  font-weight: 700;
  padding-left: 4rem;
  font-size: 1.2rem;
  width: 100%;
}

.container__first input:focus {
  outline: none;
  border: 1px solid #d7da2f;
}

.container__first input:focus + span {
  background-color: #d7da2f;
  border-color: #d7da2f;
  color: #122f3f;
}

.container__second {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.container__second__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__second__div__input-container {
  position: relative;
}

.container__second__div__input-container input {
  border: 1px solid #9abed5;
  width: 100%;
  font-weight: 700;
  font-size: 1rem;
}

.container__second__div__input-container input:focus {
  outline: none;
  border: 1px solid #d7da2f;
}

.container__second__div__input-container input:focus + span {
  background-color: #d7da2f;
  border-color: #d7da2f;
  color: #122f3f;
}

.container__second__div__input-container span {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  color: #4e6e7e;
  font-weight: 700;
  background-color: #e6efea;
  border-radius: 0 4px 4px 0;
  padding: 0.8rem 1rem;
  border: 1px solid #9abed5;
  border-left: none;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.container__third {
  width: 100%;
}

.container__third .error {
  margin-bottom: 20px;
}

.btn-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 900;
  font-size: 0.9rem;
  color: #122f3f;
  gap: 10px;
  background-color: #d7da2f;
  padding: 14px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

fieldset {
  border: none;
  width: 100%;
}

.radio_btn {
  border: 1px solid #9abed5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 0.7rem;
  font-weight: 700;
  color: #122f3f;
}

.radio_btn input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #4e6e7e;
  border-radius: 100%;
}

.radio_btn input::before {
  content: "";
  margin: auto 0;
  width: 80%;
  height: 80%;
  border-radius: 100%;
}

.radio_btn input:checked {
  border-color: #d7da2f;
}

.radio_btn input:checked::before {
  content: "";
  background-color: #d7da2f;
}

.green {
  background-color: rgba(215, 218, 47, 0.3);
  border-color: #d7da2f;
}

.error {
  margin-top: 10px;
  color: #d73328;
  font-size: 0.9rem;
}

.card--result__empty {
  text-align: center;
  color: white;
  margin: auto 0;
}

.card--result__empty h2 {
  margin-bottom: 20px;
  font-weight: 500;
}

.card--result__empty p {
  font-size: 0.9rem;
  color: #9abed5;
}

.card--result__filled p.title {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 20px;
  color: white;
}

.card--result__filled p.info {
  margin-bottom: 40px;
  color: #9abed5;
}

.result--container {
  position: relative;
  background-color: #0b1c26;
  padding: 1rem;
  padding-top: 2rem;
  width: 100%;
  color: #9abed5;
  border-top: 5px solid #d7da2f;
  border-radius: 10px;
}

.result--container p {
  margin-bottom: 10px;
}

.result--container p.above-total {
  margin-bottom: 8px;
}

.result--container .horizontal-rule {
  height: 1px;
  border-width: 0;
  color: white;
  background-color: white;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.result--container .result--container__monthly {
  color: #d7da2f;
  font-size: 2.8rem;
  font-weight: 700;
}

.result--container .result--container__total {
  font-weight: 700;
  color: white;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-color: #9abed5;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  background-color: white;
  height: auto;
  width: 950px;
  border-radius: 15px;
}

.card {
  padding: 20px;
}

.card--calculator {
  padding-left: 30px;
  padding-top: 50px;
}

.card--result {
  padding: 30px;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: default;
      -ms-flex-pack: default;
          justify-content: default;
  background-color: #122f3f;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 9vh;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

footer {
  position: absolute;
  bottom: 1px;
}

@media (max-width: 1000px) {
  main {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    width: 100vw;
    border-radius: 0;
  }
  .card--result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #122f3f;
    border-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .container__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container__second {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .container__second__div {
    margin-top: 20px;
  }
  .container__second .error-text {
    margin-bottom: 10px;
  }
  .container__last {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container__last .btn-center {
    width: 100%;
  }
  footer {
    position: relative;
    bottom: 1px;
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=main.css.map */