@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

input[type=number] {
  font-weight: 700;
  padding: 0.8rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
.radio_btn {
  cursor: pointer;
  border-radius: 4px;
}

label,
legend {
  font-weight: 500;
  color: #4e6e7e;
  margin-bottom: 8px;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  margin-bottom: 20px;
}

.container__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.container__title h2 {
  font-weight: 900;
  color: #122f3f;
}

.container__title p {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  text-decoration: underline;
  font-weight: 500;
  color: #4e6e7e;
}

.container__first {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__first span {
  position: absolute;
  bottom: 0.06rem;
  left: 0.056rem;
  color: #4e6e7e;
  font-weight: 900;
  font-size: 1.3rem;
  background-color: #e6efea;
  padding: 0.6rem 1rem;
}

.container__first span.active {
  background-color: #d7da2f;
}

.container__first input {
  border: 1px solid #9abed5;
  font-weight: 700;
  padding-left: 4rem;
  font-size: 1rem;
  width: 100%;
}

.container__first input:focus {
  outline: none;
  border: 1px solid #d7da2f;
}

.container__second {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.container__second__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__second__div__input-container {
  position: relative;
}

.container__second__div__input-container input {
  border: 1px solid #9abed5;
  width: 100%;
  font-weight: 700;
  font-size: 1rem;
}

.container__second__div__input-container input:focus {
  outline: none;
  border: 1px solid #d7da2f;
}

.container__second__div__input-container span {
  position: absolute;
  right: 0.07rem;
  top: 0.056rem;
  color: #4e6e7e;
  font-weight: 700;
  background-color: #e6efea;
  border-radius: 0 4px 4px 0;
  padding: 0.8rem 1rem;
}

.container__third {
  width: 100%;
}

.btn-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 900;
  font-size: 0.9rem;
  color: #122f3f;
  gap: 10px;
  background-color: #d7da2f;
  padding: 14px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

fieldset {
  border: none;
  width: 100%;
}

.radio_btn {
  border: 1px solid #9abed5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 0.7rem;
  font-weight: 700;
  color: #122f3f;
}

.radio_btn input {
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #4e6e7e;
  border-radius: 100%;
}

.radio_btn input::before {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 100%;
}

.radio_btn input:checked {
  border-color: #d7da2f;
}

.radio_btn input:checked::before {
  content: '';
  background-color: #d7da2f;
}

.card--result__empty {
  text-align: center;
  color: white;
}

.card--result__empty h2 {
  margin-bottom: 20px;
  font-weight: 500;
}

.card--result__empty p {
  font-size: 0.9rem;
  color: #9abed5;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-color: #9abed5;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  background-color: white;
  height: auto;
  width: 950px;
  border-radius: 15px;
}

.card {
  padding: 20px;
}

.card--calculator {
  padding-left: 30px;
  padding-top: 50px;
}

.card--result {
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #122f3f;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 9vh;
}

@media (max-width: 1000px) {
  main {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    width: 100vw;
    border-radius: 0;
  }
  .card--result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #122f3f;
    border-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .container__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: none;
        -ms-flex-align: none;
            align-items: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container__second {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}
/*# sourceMappingURL=main.css.map */